HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
/logs/*

### Elastic ###
data/elasticsearch/indices/*
data/elasticsearch/_state/*
data/elasticsearch/snapshot_cache/*
data/elasticsearch/nodes
data/elasticsearch/node.lock

### Terraform files ###
*.hcl
*.tfstate*
.terraform/*